
black
dj-database-url
Django
django-admin-honeypot-updated-2021
django-ckeditor-5
django-compressor
django-debug-toolbar
django-etc
django-filter
django-hitcount
django-import-export
django-ipware
django-jazzmin
django-simple-history
djangorestframework
djangorestframework-simplejwt
drf-yasg
environs
gunicorn
pillow
psycopg2-binary
PyJWT
whitenoise