.mobile-menu-open {
    overflow: hidden;
}

.mobile-menu-overlay {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    /* Qo'shilgan blur effekti - overlay uchun */
    backdrop-filter: blur(12px);
    /* Eski brauzerlar uchun webkit prefix */
    -webkit-backdrop-filter: blur(24px);
    /* cl
    Blur miqdorini o'zgartirish uchun:
    - Kuchliroq blur: blur(12px) yoki undan yuqori
    - Kuchsizroq blur: blur(4px) yoki undan past
    */
}

.mobile-menu-overlay.active {
    opacity: 1;
    visibility: visible;
}

#mobile-menu {
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.menu-open #mobile-menu {
    transform: translateX(0);
}