<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% for i in object%}
            {% if i.id ==4 %}
                <span>
                    <p>{{i.name}}</p>
                </span>
            {% endif%}
        {% endfor %}
    <script>
        {% for i in object%}
            {% if i.id ==4 %}
                <span>
                    <p>{{i.name}}</p>
                </span>
            {% endif%}
        {% endfor %}
    </script>
</body>
</html>